{% extends "layouts/base.html" %}

{% block content %}
    <h1>Plataforma para agendamento de serviço</h1>
    {# <h4>{{ teste() }}</h4> #}
    
    <p>Destinado para as empresas e profissionais autonomos, que desenjam disponibilizar suas agendas para todas as pessoas da regiões do Sul, poderem realizar suas reservas de horário.</p>

    <a class="btn btn-success" href="/cadastro">Cadastre-se</a>
    {# <form action="/cadastro" method="get">
        <button id="btn_newuser" class="btn btn-success" type="submit">Cadastre-se</button>
    </form> #}
    
{% endblock content %}